.about-us__slogan {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding: 45px 20px 120px;
  margin: 0;
}

.about-us__advantages {
  list-style: none;
  padding-left: 0;
}
