.about-us__slogan {
  @include mobile-container;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 0;
}

.about-us__text {
  &:nth-child(2) {
    margin-top: 33px;
    padding: 0 20px;
  }
}

.about-us__advantages {
  list-style: none;
  padding-left: 0;
}

@media (min-width: $tablet-width) {
  .about-us__slogan {
    @include tablet-container;
    font-size: 40px;
    margin-bottom: -31px;
  }

  .about-us__text {
    &:first-child {
      margin-top: 35px;
    }

    &:nth-child(2) {
      margin-top: -38px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us__slogan {
    @include desktop-container;
    font-size: 50px;
    margin-bottom: 92px;
  }

  .about-us__text {
    &:first-child {
      margin-top: -46px;
    }

    &:nth-child(2) {
      margin-top: -46px;
      padding: 0 107px;
    }
  }
}
