.about-us__slogan {
  @include mobile-container;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-top: 18px;
  padding-right: 40px;
  padding-bottom: 78px;
}

.about-us__text {
  &:nth-child(2) {
    margin-top: 32px;
  }
}

.about-us__advantages {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 660px) {
  .about-us__slogan {
    font-size: 40px;
  }
}
