.alt-footer {
  @include mobile-container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alt-footer__copyright {
  position: relative;
  line-height: 1.29;
  margin-top: 33px;
  margin-bottom: 40px;
  padding-right: 43px;
}

.alt-footer__logo {
  position: absolute;
  bottom: -13px;
  left: 95px;
}

.alt-footer__logo path {
  &:hover,
  &:focus {
    fill: #283645;
  }

  &:active {
    fill: rgba(40, 54, 69, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .alt-footer {
    @include tablet-container;
    flex-direction: row;
  }

  .alt-footer__copyright {
    padding-top: 46px;
  }

  .alt-footer__logo {
    left: 97px;
  }
}

@media (min-width: $desktop-width) {
  .alt-footer {
    @include desktop-container;
  }

  .alt-footer__copyright {
    font-size: 18px;
  }

  .alt-footer__logo {
    left: 120px;
  }
}
