.button {
  display: block;
  padding: 14px 0;
  border: 3px solid #ffffff;
  border-radius: 50px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
