.checkbox {
  display: block;
  padding-top: 43px;
  padding-bottom: 9px;
}

.checkbox__input + span {
  &::before {
    content: "";
    cursor: pointer;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.checkbox__name {
  position: relative;
  padding-left: 69px;
  color: #283645;
  font-size: 18px;
  line-height: 1.67;
}
