.contacts__title {
  color: #283645;
  font-size: 18px;
  font-weight: 700;
}

.contacts__text,
.contacts__text a {
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
}
