.contacts {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -38.5%;
    height: 100px;
    background: linear-gradient(to right bottom, #ffffff 50%, transparent 50%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 50%;
    bottom: -38.5%;
    height: 100px;
    background: linear-gradient(to left bottom, #ffffff 50%, transparent 50%);
  }
}

.contacts__container {
  @include mobile-container;
}

.contacts__slogan {
  width: 280px;
  margin-top: 48px;
  margin-bottom: 38px;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.contacts__list {
  width: 280px;
}

.contacts__item {
  margin-bottom: 26px;
}

.contacts__title {
  margin-bottom: 5px;
  color: #283645;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.contacts__text {
  margin-left: 0;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.contacts__text a {
  text-decoration: none;
  color: #d22856;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #283645;
  }

  &:active {
    text-decoration: none;
    color: rgba(40, 54, 69, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 116px;

    &::before {
      bottom: -35%;
    }

    &::after {
      bottom: -35%;
    }
  }

  .contacts__container {
    @include tablet-container;
  }

  .contacts__slogan {
    padding: 0 21px;
    margin-bottom: 47px;
    font-size: 40px;
    width: 620px;
  }

  .contacts__list {
    width: 620px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 47px;
    padding-right: 29px;
  }

  .contacts__item {
    margin-bottom: 52px;

    &:nth-child(3) {
      width: 527px;
      margin-bottom: 0;
    }
  }

  .contacts__title {
    margin-bottom: 7px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-top: 66px;

    &::before {
      bottom: -38%;
    }

    &::after {
      bottom: -38%;
    }
  }

  .contacts__container {
    @include desktop-container;
  }

  .contacts__slogan {
    padding: 0 111px;
    margin-bottom: 60px;
    width: 945px;
    font-size: 50px;
  }

  .contacts__item {
    &:nth-child(3) {
      width: auto;
    }

    &:nth-child(2) {
      order: 2;
    }
  }

  .contacts__list {
    width: 945px;
  }

  .contacts__title {
    margin-bottom: 27px;
  }
}
