.contacts__item {
  margin-bottom: 25px;
}

.contacts__title {
  margin-bottom: 10px;
  color: #283645;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.contacts__text {
  margin-left: 0;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.contacts__text a {
  text-decoration: none;
  color: #d22856;
}

@media (min-width: 660px) {
  .contacts__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contacts__item:nth-child(3) {
    width: 500px;
  }
}

@media (min-width: 960px) {
  .contacts__item:nth-child(3) {
    width: auto;
  }
}
