.download-information {
  background-color: #1d2631;
}

.download-information__slogan {
  display: none;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
}

.download-information__icons {
  list-style: none;
  padding: 0;
}

.download-information__text {
  color: #ffffff;
  line-height: 1.71;
  text-align: center;
}

@media (min-width: 660px) {
  .download-information {
    background-color: transparent;
    width: 320px;
  }

  .download-information__slogan {
    display: block;
  }
}
