.download-information {
  background-color: #1d2631;
  margin-top: 397px;
  padding-top: 27px;
  padding-bottom: 32px;
}

.download-information__container {
  @include mobile-container;
}

.download-information__slogan {
  display: none;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
}

.download-information__button {
  width: 280px;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download-information__icons {
  margin-top: 32px;
  list-style: none;
  padding: 0;
}

.download-information__text {
  width: 280px;
  margin-top: -3px;
  margin-bottom: 0;
  color: #ffffff;
  line-height: 1.71;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download-information {
    margin-top: 29px;
    padding-bottom: 126px;
    background-color: transparent;
    width: 320px;
  }

  .download-information__slogan {
    display: block;
    padding-left: 37px;
    padding-right: 17px;
    margin-bottom: 33px;
  }

  .download-information__button {
    width: 300px;
  }

  .download-information__icons {
    margin-top: 46px;
    margin-bottom: 29px;
  }

  .download-information__text {
    width: 300px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
  }
}

@media (min-width: $desktop-width) {
  .download-information {
    margin-top: 37px;
    padding-bottom: 237px;
    padding-left: 108px;
  }

  .download-information__slogan {
    font-size: 50px;
    padding-left: 32px;
    padding-right: 5px;
    margin-bottom: 57px;
  }

  .download-information__button {
    line-height: 0.86;
  }

  .download-information__icons {
    margin-top: 67px;
    margin-bottom: 49px;
  }
}
