.form {
  display: flex;
  flex-direction: column;
}

.form__set {
  border: none;
  margin: 0;
  padding: 0;
}

.form__set:nth-child(2n) {
  background-color: #f2f2f2;
}

.form__set-title {
  color: #d22856;
  line-height: 1.29;
  text-transform: uppercase;
}

.form__note-symbol {
  color: #d22856;
  line-height: 2.14;
  text-transform: uppercase;
}

.form__note {
  line-height: 2.14;
  text-transform: uppercase;
}

.form__submit {
  border-color: #2aab6d;
  border-radius: 0;
  background-color: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
}

@media (min-width: 660px) {
  .form {
    align-items: center;
  }

  .form__set {
    width: 620px;
    border: 2px solid #e5e5e5;

    &:first-child {
      order: -3;
      border: none;
    }

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(4) {
      order: -2;
    }

    &:nth-child(2n) {
      background-color: #ffffff;
    }
  }

  .form__set-title {
    text-align: center;
  }
}

@media (min-width: 960px) {
  .form__set {
    width: 940px;

    &:first-child {
      width: 400px;
    }

    &:nth-child(4) {
      width: 400px;
    }
  }
}
