.form__set {
  border: none;
  margin: 0;
  padding: 0;
}

.form__set:nth-child(2n) {
  background-color: #f2f2f2;
}

.form__set-title {
  color: #d22856;
  line-height: 1.29;
  text-transform: uppercase;
}

.form__note-symbol {
  color: #d22856;
  line-height: 2.14;
  text-transform: uppercase;
}

.form__note {
  line-height: 2.14;
  text-transform: uppercase;
}

.form__submit {
  border-color: #2aab6d;
  border-radius: 0;
  background-color: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
}
