.image-filters__range {
  position: relative;
  height: 41px;
  margin-bottom: 16px;
  padding-top: 21px;
  padding-right: 22px;
  padding-left: 18px;

  &--additional {
    display: none;
  }
}

.image-filters__scale {
  height: 2px;
  background: #283645;
}

.image-filters__toggle {
  position: absolute;
  top: 15px;
  left: 211px;
  width: 14px;
  height: 14px;
  padding: 0;
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    background-color: #d22856;
  }
}

.image-filters__hr {
  position: relative;
  left: -20px;
  min-width: 320px;
  height: 1px;
  background-color: #dedfe1;

  &--additional {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .image-filters {
    width: 280px;
  }

  .image-filters__range {
    margin-bottom: 14px;
    padding-top: 19px;
    padding-right: 18px;
    padding-left: 60px;

    &--additional {
      display: block;
    }
  }

  .image-filters__hr {
    left: 5px;
    width: 275px;

    &--additional {
      display: block;
    }
  }
}
