.main-footer__slogan {
  margin-top: 47px;
  margin-bottom: 44px;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.main-footer__alt {
  display: none;
}

@media (min-width: 660px) {
  .main-footer__alt {
    display: flex;
    justify-content: space-around;
  }
}
