.main-navigation {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-navigation__list {
  background-color: #283645;
  padding: 0;
  text-align: center;
}

.main-navigation__button {
  position: absolute;
  top: 22px;
  right: 20px;
  background-color: transparent;
  border: none;
  background-image: url("../../img/icon-menu-burger.svg");
  width: 50px;
  height: 24px;
}

@media (min-width: 960px) {
  .main-navigation {
    display: flex;
    justify-content: space-between;
  }

  .main-navigation__list {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }

  .main-navigation__button {
    display: none;
  }
}
