.main-navigation {
  margin: auto;
  padding-bottom: 18px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-navigation__container {
  @include mobile-container;
}

.main-navigation__list {
  display: none;
  background-color: #283645;
  padding: 0;
  text-align: center;
}

.main-navigation__button {
  cursor: pointer;
  padding: 0;
  margin-left: 151px;
  border: none;
  background-color: inherit;
}

.main-navigation__button path {
  &:hover,
  &:focus {
    fill: #d22856;
  }

  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-navigation {
    padding-bottom: 39px;
  }

  .main-navigation__container {
    @include tablet-container;
  }

  .main-navigation__button {
    margin-left: 491px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    padding-bottom: 17px;
  }

  .main-navigation__container {
    @include desktop-container;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .main-navigation__list {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }

  .main-navigation__button {
    display: none;
  }
}
