.map iframe {
  width: 100%;
  height: 645px;
}

@media (min-width: $tablet-width) {
  .map iframe {
    height: 848px;
  }
}

@media (min-width: $desktop-width) {
  .map iframe {
    height: 976px;
  }
}
