.os-icons {
  display: flex;
  justify-content: space-around;
}


.os-icons__item {
  background-repeat: no-repeat;
  width: 47px;
  height: 56px;

  &--apple {
    background-image: url("../../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../../img/logo-android.svg");
  }

  &--microsoft {
    background-image: url("../../img/logo-microsoft.svg");
  }
}
