.popup__title {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
}

.popup__text {
  line-height: 1.71;
  color: #283645;
}

.popup__button {
  border-color: #2aab6d;
  border-radius: 0;
  background-color: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.popup__button-wallpaper {
  background-color: #f2f2f2;
}
