.popup {
  width: 320px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding-top: 46px;
}

.popup__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #283645;
}

.popup__text {
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.71;
  color: #283645;
}

.popup__button {
  width: 280px;
  border-color: #2aab6d;
  border-radius: 0;
  background-color: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
}

.popup__button-wallpaper {
  background-color: #f2f2f2;
  padding: 52px 20px 52px;
}

.popup__button-wrapper {
  padding: 52px 20px 52px;
}

@media (min-width: $tablet-width) {
  .popup {
    width: 460px;
  }

  .popup__title {
    padding: 0 100px;
    font-size: 30px;
    line-height: 1.33;
  }

  .popup__text {
    font-size: 18px;
    padding: 0 60px;
  }

  .popup__button {
    width: 295px;
  }

  .popup__button-wallpaper {
    padding: 52px 82px 52px;
  }

  .popup__button-wrapper {
    padding: 52px 82px 52px;
  }
}

@media (min-width: $desktop-width) {
  .popup {
    width: 780px;
  }

  .popup__text {
    padding: 0 183px;
  }

  .popup__button-wallpaper {
    padding: 52px 242px 52px;
  }

  .popup__button-wrapper {
    padding: 52px 242px 52px;
  }
}
