.price {
  position: relative;
  margin-top: 136px;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 100px;
    background: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);
  }
}

.price__item-wrapper {
  display: flex;
  justify-content: center;
}

.price__item {
  min-width: 280px;
}

.price__text-fields {
  padding-top: 16px;
  padding-bottom: 22px;
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;

  &--hit {
    position: relative;
    background-image: url("../../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-size: 74px 73px;
  }
}

.price__title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 1.67;
  margin: 0;
}

.price__text {
  position: absolute;
  right: 87%;
  top: 14%;
  transform: rotate(-45deg);
  line-height: 2.12;
}

.price__cost {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 1.25;
  margin: 0;
}


.price__list {
  list-style: none;
  text-transform: uppercase;
  line-height: 2.14;
  color: #283645;
  background-color: #ffffff;
  padding-left: 0;
  margin: 0;

  &:first-child {
    display: none;
  }
}

.price__list-item {
  padding: 15px;
  padding-left: 22px;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  background-repeat: no-repeat;
  background-position-x: 230px;
  background-position-y: center;

  &--supported {
    background-image: url("../../img/icon-yes.svg");
    background-size: 31px 21px;
  }

  &--unsupported {
    background-image: url("../../img/icon-no.svg");
    background-size: 27px 26px;
  }
}

@media (min-width: 660px) {
  .price__item {
    min-width: 155px;
  }

  .price__list:first-child {
    display: block;
  }

  .price__list-item {
    background-position-x: center;
  }

  .price__list-text {
    display: none;
  }

  .price__text-fields {
    padding-top: 19px;
    padding-bottom: 13px;
  }

  .price__title {
    font-size: 16px;
    line-height: 1.88;
  }

  .price__cost {
    font-size: 18px;
    line-height: 1.67;
  }
}
