.publication-post {
  color: #283645;
  line-height: 24px;
}

.publication-post__user {
  font-weight: 700;
}

.publication-post__time {
  font-weight: 300;
}

.publication-post__text {
  font-size: 12px;
}

.publication-post__likes {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
