.publications__container {
  @include mobile-container;
}

.publications__item {
  background-color: #f2f2f2;

  &--panorama {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}

.publications__item--panorama picture {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .publications__container {
    @include tablet-container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .publications__item {
    width: 300px;

    &--panorama {
      width: 620px;
    }
  }
}

@media (min-width: $desktop-width) {
  .publications__container {
    @include desktop-container;
  }

  .publications__item {
    &--panorama {
      width: 940px;
    }
  }
}
