.publications {
  @include mobile-container;
}

.publications__item {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .publications {
    display: flex;
    flex-wrap: wrap;
  }

  .publications__item {
    width: 300px;

    &--panorama {
      width: 620px;
    }
  }
}

@media (min-width: $desktop-width) {
  .publications__item--panorama {
    width: 940px;
  }
}
