.publications__item {
  background-color: #f2f2f2;
}

@media (min-width: 660px) {
  .publications {
    display: flex;
    flex-wrap: wrap;
  }

  .publications__item {
    width: 300px;

    &--panorama {
      width: 620px;
    }
  }
}

@media (min-width: 960px) {
  .publications__item--panorama {
    width: 940px;
  }
}
