.review__list {
  display: flex;
  padding-top: 28px;
}

.review__item {
  min-width: 280px;
  margin: 0 20px;
  text-align: center;
}

.review__title {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
}

.review__title-info {
  display: none;
  line-height: 2.14;
}

.review__text {
  margin-top: 14px;
  color: #283645;
  line-height: 2.15;
}

@media (min-width: 660px) {
  .review__user {
    order: 1;
  }

  .review__title-info {
    display: block;
  }
}
