.site-list {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.78;
  text-transform: uppercase;
}

.site-list__item {
  padding-bottom: 9px;
  color: #ffffff;
  list-style: none;
}

.site-list__item a {
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.site-list__item--active a {
  &:hover,
  &:focus {
    color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 620px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
  }

  .site-list__item {
    opacity: 1;

    &--active {
      border-bottom: 2px solid #ffffff;
    }
  }

  .site-list__item a {
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
