.site-list {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.site-list__item {
  color: #ffffff;
  list-style: none;
}

.site-list__item a {
  color: #ffffff;
  text-decoration: none;
}
