.slider__toggles-wrapper {
  width: 320px;
  margin: 0;
  margin-top: 11px;
  text-align: center;
}

.slider__price {
  padding-top: 21px;
  padding-bottom: 47px;
}

.slider__toggle {
  cursor: pointer;
  padding: 0;
  border: 3px solid rgba(190, 195, 199, 0.3);
  background-color: rgba(190, 195, 199, 0.3);
  border-radius: 50%;

  &:hover,
  &:focus {
    border: 3px solid rgba(190, 195, 199, 0.6);
    background-color: rgba(190, 195, 199, 0.6);
  }

  &:active {
    border: 3px solid rgba(190, 195, 199, 0.1);
    background-color: rgba(190, 195, 199, 0.1);
  }

  &--active {
    box-shadow: 0 0 0 3px #283645;
  }

  &--active:hover,
  &--active:focus {
    border: 3px solid rgba(190, 195, 199, 0.3);
    background-color: rgba(190, 195, 199, 0.3);
  }

  &:nth-child(2) {
    margin-left: 12px;
    margin-right: 16px;
  }
}

@media (min-width: 660px) {
  .slider__price {
    display: none;
  }
}

@media (min-width: 960px) {
  .slider__review {
    display: none;
  }
}
