.upload__slogan {
  @include mobile-container;
  margin-top: 40px;
  margin-bottom: 45px;
  text-align: center;
  color: #283645;
  line-height: 2.14;
}

.upload__form {
  @include mobile-container;
  padding-top: 19px;
  padding-bottom: 41px;
  background-color: #f2f2f2;
}

.upload__list {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding-left: 32px;
  padding-top: 23px;
  padding-right: 28px;
  list-style: none;
}

.upload__item {
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;

  &--contrast {
    padding-top: 8px;
  }
}

.upload__svg {
  &:hover,
  &:focus {
    fill: rgba(40, 54, 69, 0.5);
  }

  &:active {
    fill: #d22856;
  }

  &--cut {
    fill: #d22856;

    &:hover,
    &:focus {
      fill: #d22856;
    }
  }
}

.upload__button {
  padding: 15px 0;
  width: 280px;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.upload__button--send {
  margin-top: 38px;
  border-color: #d22856;
  color: #d22856;

  &:hover,
  &:focus {
    background-color: #d22856;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.upload__button--cancel {
  margin-top: 13px;
  border-color: #283645;
  color: #283645;
  opacity: 0.1;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    background-color: #283645;
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
  }
}
