.upload {
  background-color: #f2f2f2;
}

.upload__slogan {
  color: #283645;
  line-height: 30px;
}

.upload__button {
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.upload__button--send {
  border-color: #d22856;
  color: #d22856;
}

.upload__button--cancel {
  border-color: #283645;
  color: #283645;
  opacity: 0.1;
}
